* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montreal Bold";
  src: url("../fonts/PPNeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Montreal Book";
  src: url("../fonts/PPNeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Montreal Medium";
  src: url("../fonts/PPNeueMontreal-Medium.otf");
}
@font-face {
  font-family: "Montreal Thin";
  src: url("../fonts/PPNeueMontreal-Thin.otf");
}
html,
body {
  overflow-x: hidden;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #081820;
}
body::-webkit-scrollbar {
  display: none;
}
body .noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  -webkit-animation: bg-animation 0.6s infinite;
          animation: bg-animation 0.6s infinite;
  opacity: 0.9;
  visibility: visible;
}
@-webkit-keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
body main {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
body main .top_left {
  color: #E0F8D0;
  font-family: "Montreal Medium";
}
body main .top_left h1 {
  font-size: 5vw;
  font-weight: 500;
}
body main .top_left h2 {
  font-size: 3.4vw;
  font-weight: 500;
}
body main .top_left h3 {
  font-size: 2.6vw;
  font-weight: 500;
}
body main .top_left span {
  color: #88C070;
}
body main .page_title {
  color: #E0F8D0;
  font-family: "Montreal Medium";
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40vh;
}
body main .page_title .square {
  height: 36px;
  width: 36px;
  background-color: #88C070;
  margin-right: 12px;
  z-index: 50;
}
body main .page_title p {
  font-size: 5vw;
  font-weight: 500;
}
body main nav {
  width: calc(100% - 120px);
  height: 48px;
  border-top: #E0F8D0 1px solid;
  border-bottom: #E0F8D0 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
body main nav .link {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  align-items: center;
}
body main nav .link .square {
  height: 16px;
  width: 16px;
  background-color: #88C070;
  margin-right: 8px;
}
body main nav .link a {
  font-family: "Montreal Medium";
  font-weight: 500;
  color: #E0F8D0;
  text-decoration: none;
  font-size: 24px;
}
body .container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
body .title {
  font-size: 12vw;
  position: relative;
  color: #E0F8D0;
  display: flex;
  margin: 0;
  will-change: transform;
  font-family: "Montreal Medium";
  font-weight: 500;
}
body .title img {
  margin-left: 18px;
  margin-right: 18px;
}
body .main_2 {
  border-top: 1px #E0F8D0 solid;
  width: calc(100% - 120px);
  margin-left: 60px;
  min-height: 100vh;
  height: 100%;
}

/* push 1838 *//*# sourceMappingURL=main.css.map */