* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montreal Bold';
    src: url('../fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'Montreal Book';
    src: url('../fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'Montreal Medium';
    src: url('../fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
    font-family: 'Montreal Thin';
    src: url('../fonts/PPNeueMontreal-Thin.otf');
}

html,
body {
    overflow-x: hidden;
}

$text-clr : #E0F8D0;
$green : #88C070;
$dark-green : #346856;
$bg-dark : #081820;

$h1-size : 5vw;
$h2-size : 3.4vw;
$h3-size : 2.6vw;
$p-bigger : 24px;
$p-size : 16px;


body {

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: $bg-dark;

    .noise {
        position: fixed;
        top: -50%;
        left: -50%;
        right: -50%;
        bottom: -50%;
        width: 200%;
        height: 200vh;
        background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
        background-repeat: repeat;
        animation: bg-animation .6s infinite;
        opacity: .9;
        visibility: visible;
    }

    main {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;

        .top_left {
            color: $text-clr;
            font-family: 'Montreal Medium';

            h1 {
                font-size: $h1-size;
                font-weight: 500;
            }

            h2 {
                font-size: $h2-size;
                font-weight: 500;
                display: flex;
                flex-direction: row;

                span{
                    margin-right: 15px;
                }
            }

            h3 {
                font-size: $h3-size;
                font-weight: 500;
            }

            span {
                color: $green;
            }
        }

        .page_title {
            color: $text-clr;
            font-family: 'Montreal Medium';
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40vh;

            .square {
                height: 36px;
                width: 36px;
                background-color: $green;
                margin-right: 12px;
                z-index: 50;
            }

            p {
                font-size: $h1-size;
                font-weight: 500;
            }
        }

        nav {
            width: calc(100% - 120px);
            height: 48px;
            border-top: $text-clr 1px solid;
            border-bottom: $text-clr 1px solid;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 20%;
            padding-right: 20%;
            justify-content: space-between;
            position: absolute;
            bottom: 0;

            .link {
                display: flex;
                flex-direction: row;
                margin-right: 8px;
                align-items: center;

                .square {
                    height: 16px;
                    width: 16px;
                    background-color: $green;
                    margin-right: 8px;
                }

                a {
                    font-family: 'Montreal Medium';
                    font-weight: 500;
                    color: $text-clr;
                    text-decoration: none;

                    font-size: $p-bigger;
                }
            }
        }
    }

    .container {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
    }

    .title {
        font-size: 12vw;
        position: relative;
        color: $text-clr;
        display: flex;
        margin: 0;
        will-change: transform;
        font-family: 'Montreal Medium';
        font-weight: 500;

        img {
            margin-left: 18px;
            margin-right: 18px;
        }
    }

    .main_2 {
        border-top: 1px $text-clr solid;
        width: calc(100% - 120px);
        margin-left: 60px;
        min-height: 100vh;
        height: 100%;

    }

}


/* push 1838 */