* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montreal Bold';
    src: url('../fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'Montreal Book';
    src: url('../fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'Montreal Medium';
    src: url('../fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
    font-family: 'Montreal Thin';
    src: url('../fonts/PPNeueMontreal-Thin.otf');
}

html,
body {
    overflow-x: hidden;
}

$text-clr : #E0F8D0;
$green : #88C070;
$dark-green : #346856;
$bg-dark : #081820;

$h1-size : 96px;
$h2-size : 64px;
$h3-size : 48px;
$p-bigger : 24px;
$p-size : 16px;


body {
    background-color: $bg-dark;

    main {
        padding-left: 60px;
        padding-right: 60px;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        border: 2px red solid;
        background-image: url('../images/noise.jpg');
        background-repeat: repeat;
        background-size: contain;
        mix-blend-mode: overlay;
        border: none;
        animation: bg-animation .2s infinite;

    }
}


@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}