* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montreal Bold';
    src: url('../fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'Montreal Book';
    src: url('../fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'Montreal Medium';
    src: url('../fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
    font-family: 'Montreal Thin';
    src: url('../fonts/PPNeueMontreal-Thin.otf');
}

html,
body {
    overflow-x: hidden;
}

$text-clr : #E0F8D0;
$green : #88C070;
$dark-green : #346856;
$bg-dark : #081820;

$h1-size : 96px;
$h2-size : 64px;
$h3-size : 48px;
$p-bigger : 24px;
$p-size : 16px;


body {
    background-color: $bg-dark;

    main {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .noise {
            min-height: 100vh;
            background-image: url('../images/noise.jpg');
            background-repeat: repeat;
            background-size: cover;
            background-position: bottom center;
            mix-blend-mode: overlay;
            opacity: 0.6;
            animation: noise-anim .6s infinite;
        }
    }
}

