* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montreal Bold";
  src: url("../fonts/PPNeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Montreal Book";
  src: url("../fonts/PPNeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Montreal Medium";
  src: url("../fonts/PPNeueMontreal-Medium.otf");
}
@font-face {
  font-family: "Montreal Thin";
  src: url("../fonts/PPNeueMontreal-Thin.otf");
}
.scroll_locked {
  overflow-y: hidden;
}

html,
body {
  overflow-x: hidden;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #081820;
}
body::-webkit-scrollbar {
  display: none;
}
body .noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  -webkit-animation: bg-animation 0.6s infinite;
          animation: bg-animation 0.6s infinite;
  opacity: 0.9;
  visibility: visible;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #081820;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .loader .inner {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
body .loader .inner .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .loader .inner .top p {
  color: #E0F8D0;
  font-family: "Montreal Medium";
  font-weight: 500;
}
body .loader .inner .top p .p_1 {
  font-size: 24px;
}
body .loader .inner .top p .inter {
  color: #88C070;
  margin-left: 24px;
}
body .loader .inner .jauge {
  width: 100%;
  height: 8px;
  background-color: #346856;
  margin-top: 24px;
  position: relative;
}
body .loader .inner .jauge .jauge_inner {
  width: 0%;
  height: 100%;
  background-color: #88C070;
  position: absolute;
}
body main {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  body main {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
body main .top_left {
  color: #E0F8D0;
  font-family: "Montreal Medium";
}
body main .top_left h1 {
  font-size: 5vw;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  body main .top_left h1 {
    font-size: 36px;
  }
}
body main .top_left h2 {
  font-size: 3.4vw;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}
body main .top_left h2 span {
  margin-right: 15px;
}
@media screen and (max-width: 768px) {
  body main .top_left h2 {
    font-size: 24px;
  }
}
body main .top_left h3 {
  font-size: 2.6vw;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  body main .top_left h3 {
    font-size: 24px;
  }
}
body main .top_left span {
  color: #88C070;
}
body main .page_title {
  color: #E0F8D0;
  font-family: "Montreal Medium";
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40vh;
}
@media screen and (max-width: 768px) {
  body main .page_title {
    align-items: flex-end;
    height: 60vh;
  }
}
body main .page_title .square {
  height: 36px;
  width: 36px;
  background-color: #88C070;
  margin-right: 12px;
  z-index: 50;
}
body main .page_title p {
  font-size: 5vw;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  body main .page_title p {
    font-size: 36px;
  }
}
body main nav {
  width: calc(100% - 120px);
  height: 48px;
  border-top: #E0F8D0 1px solid;
  border-bottom: #E0F8D0 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  body main nav {
    width: calc(100% - 48px);
    padding-left: 10%;
    padding-right: 10%;
  }
}
body main nav .link {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  align-items: center;
}
body main nav .link .square {
  height: 16px;
  width: 16px;
  background-color: #88C070;
  margin-right: 8px;
}
body main nav .link a {
  font-family: "Montreal Medium";
  font-weight: 500;
  color: #E0F8D0;
  text-decoration: none;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  body main nav .link a {
    font-size: 14px;
  }
}
body .container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
body .title,
body .title_2 {
  font-size: 12vw;
  position: relative;
  color: #E0F8D0;
  display: flex;
  margin: 0;
  will-change: transform;
  font-family: "Montreal Medium";
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  body .title,
body .title_2 {
    font-size: 96px;
  }
}
body .title img,
body .title_2 img {
  margin-left: 18px;
  margin-right: 18px;
}
body .project_list {
  border-top: 1px #E0F8D0 solid;
  border-bottom: 1px #E0F8D0 solid;
  min-height: 50px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  z-index: 150;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .project_list {
    margin-left: 24px;
    margin-right: 24px;
  }
}
body .project_list .list_inner {
  width: 80%;
  min-height: 50px;
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  body .project_list .list_inner {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
body .project_list .list_inner .list_element {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  text-decoration: none;
  border-bottom: 1px #E0F8D0 solid;
}
@media screen and (max-width: 768px) {
  body .project_list .list_inner .list_element {
    grid-template-columns: 4fr 3fr 1fr;
  }
}
body .project_list .list_inner .list_element h4 {
  font-size: 3.4vw;
  color: #E0F8D0;
  font-family: "Montreal Medium";
  font-weight: 500;
}
body .project_list .list_inner .list_element h4 span {
  color: #88C070;
}
@media screen and (max-width: 768px) {
  body .project_list .list_inner .list_element h4 {
    font-size: 14px;
  }
}
body .project_list .list_inner .list_element p {
  font-size: 16px;
  font-family: "Montreal Medium";
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  body .project_list .list_inner .list_element p {
    font-size: 8px;
  }
}
body .project_list .list_inner .list_element p .cat {
  color: #E0F8D0;
}
body .project_list .list_inner .list_element p .date {
  color: #88C070;
}
@media screen and (max-width: 768px) {
  body .project_list .list_inner .list_element img {
    height: 14px;
    width: 14px;
  }
}
body .project_list .list_inner .see_more {
  margin-top: 24px;
  margin-bottom: 96px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Montreal Medium";
  font-weight: 500;
  display: flex;
  flex-direction: row;
}
body .project_list .list_inner .see_more a {
  text-decoration: none;
  color: #E0F8D0;
}
body .project_list .list_inner .see_more img {
  background-color: #88C070;
  padding: 4px;
  height: 17px;
  width: 17px;
  margin-left: 14px;
}
body .about_me {
  margin-right: 60px;
  margin-left: 60px;
  padding-left: 15%;
  border-top: 1px #E0F8D0 solid;
  border-bottom: 1px #E0F8D0 solid;
  min-height: 50px;
  padding-top: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  body .about_me {
    flex-direction: column;
    margin-right: 24px;
    margin-left: 24px;
    padding-left: 0;
  }
}
body .about_me .about_me_text {
  font-size: 16px;
  font-family: "Montreal Medium";
  font-weight: 500;
  text-transform: uppercase;
  color: #E0F8D0;
  text-align: justify;
  width: 35vw;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .about_me .about_me_text {
    width: 100%;
    font-size: 12px;
  }
}
body .about_me .about_me_text p {
  position: relative;
  text-indent: 24px;
  margin-bottom: 16px;
  letter-spacing: 0.045em;
  line-height: 21px;
}
body .about_me .about_me_text p::after {
  content: "";
  height: 14px;
  width: 14px;
  background-color: #88C070;
  position: absolute;
  top: 0;
  left: 0;
}
body .about_me .page_title {
  color: #E0F8D0;
  font-family: "Montreal Medium";
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  height: 40vh;
  align-items: center;
}
body .about_me .page_title .square {
  height: 36px;
  width: 36px;
  background-color: #88C070;
  margin-right: 12px;
  z-index: 50;
}
body .about_me .page_title p {
  font-size: 5vw;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  body .about_me .page_title p {
    font-size: 36px;
  }
}
body footer {
  margin-right: 60px;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
  body footer {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 12px;
    padding-right: 12px;
  }
  body footer img {
    height: 13px;
    width: 13px;
  }
}
body footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body footer .links a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #E0F8D0;
  font-family: "Montreal Medium";
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  body footer .links a {
    font-size: 8px;
  }
}
body footer .links a img {
  height: 18px;
  width: 18px;
  margin-left: 16px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  body footer .links a img {
    height: 8px;
    width: 8px;
    margin-left: 8px;
  }
}
body footer .links a:hover {
  color: #88C070;
}
body footer .links a:hover img {
  transform: rotate(-45deg);
  fill: #88C070 !important;
}
body footer .to_top_container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body footer .to_top_container img {
  transform: rotate(-45deg);
}

.project_img {
  position: absolute;
  top: 0;
  left: -20%;
  width: 20%;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 768px) {
  .project_img {
    display: none;
  }
}

.back {
  width: 100%;
}
.back a img {
  height: 100%;
  background-color: #88C070;
  padding: 4px;
  transition: all 0.5s;
}
.back a:hover img {
  transform: rotate(-90deg);
}

.landing_project {
  height: 75vh;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .landing_project {
    flex-direction: column-reverse;
  }
}
.landing_project .left {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 32px;
}
@media screen and (max-width: 768px) {
  .landing_project .left {
    padding-right: 0;
    width: 100%;
  }
}
.landing_project .left h2 {
  font-family: "Montreal Medium";
  font-size: 24px;
  font-weight: 500;
  color: #E0F8D0;
}
.landing_project .left h2 span {
  font-family: "Montreal Medium";
  font-size: 16px;
  font-weight: 500;
  color: #88C070;
  margin-left: 32px;
}
.landing_project .left p {
  font-family: "Montreal Medium";
  font-size: 16px;
  font-weight: 500;
  color: #E0F8D0;
  align-self: flex-end;
  text-transform: uppercase;
  text-align: justify;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .landing_project .left p {
    font-size: 14px;
  }
}
.landing_project .right {
  height: 100%;
  width: 75%;
  position: relative;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .landing_project .right {
    width: 100%;
    margin-top: 126px;
  }
}
.landing_project .right img {
  height: 100%;
  width: 100%;
  filter: contrast(95%) brightness(85%) grayscale(100);
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing_project .right .filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #346856;
  mix-blend-mode: overlay;
  transition: all 0.5s;
}
.landing_project .right:hover .filter {
  opacity: 0;
}
.landing_project .right:hover img {
  filter: contrast(95%) brightness(85%) grayscale(0);
}

@media screen and (max-width: 768px) {
  nav {
    padding-left: 24px;
    padding-right: 24px;
  }
}
nav .link p {
  font-family: "Montreal Medium";
  font-size: 12px;
  font-weight: 500;
  color: #E0F8D0;
}
@media screen and (max-width: 768px) {
  nav .link p {
    font-size: 10px;
  }
}
nav .link p:first-child {
  color: #88C070;
  font-family: "Montreal Medium";
  font-weight: 500;
}

.under_nav {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 768px) {
  .under_nav {
    padding-left: 24px;
    padding-right: 24px;
    overflow-x: hidden;
  }
}
.under_nav .gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 84px;
}
@media screen and (max-width: 768px) {
  .under_nav .gallery {
    width: 120%;
    overflow-x: scroll;
    margin-left: -24px;
    margin-right: -24px;
  }
}
.under_nav .gallery .gallery_container {
  width: 95vw;
  position: relative;
}
.under_nav .gallery .gallery_container img {
  width: 95%;
  filter: contrast(95%) brightness(85%) grayscale(100);
  position: relative;
}
@media screen and (max-width: 768px) {
  .under_nav .gallery .gallery_container img {
    width: calc(100vw - 45px);
    margin-right: 50px;
  }
}
.under_nav .gallery .gallery_container .filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 95%;
  background-color: #346856;
  mix-blend-mode: overlay;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .under_nav .gallery .gallery_container .filter {
    width: calc(100vw - 45px);
  }
}
.under_nav .gallery .gallery_container:hover .filter {
  opacity: 0;
}
.under_nav .gallery .gallery_container:hover img {
  filter: contrast(95%) brightness(85%) grayscale(0);
}
.under_nav .text_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.under_nav .text_1 p {
  width: 50%;
  font-family: "Montreal Medium";
  font-size: 16px;
  font-weight: 500;
  color: #E0F8D0;
  text-transform: uppercase;
  margin-top: 126px;
  margin-bottom: 126px;
  position: relative;
  padding-left: 24px;
}
.under_nav .text_1 p::after {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 0;
  height: 95%;
  width: 14px;
  background-color: #88C070;
}
@media screen and (max-width: 768px) {
  .under_nav .text_1 p::after {
    width: 8px;
  }
}
@media screen and (max-width: 768px) {
  .under_nav .text_1 p {
    width: 100%;
    font-size: 12px;
  }
}
.under_nav .banner {
  position: relative;
  margin-bottom: 126px;
}
@media screen and (max-width: 768px) {
  .under_nav .banner {
    display: none;
  }
}
.under_nav .banner img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: contrast(95%) brightness(85%) grayscale(100);
}
.under_nav .banner .filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #346856;
  mix-blend-mode: overlay;
  transition: all 0.5s;
}
.under_nav .banner:hover .filter {
  opacity: 0;
}
.under_nav .banner:hover img {
  filter: contrast(95%) brightness(85%) grayscale(0);
}
.under_nav .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 126px;
}
@media screen and (max-width: 768px) {
  .under_nav .bottom {
    flex-direction: column;
  }
}
.under_nav .bottom .left {
  height: 100%;
  width: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .under_nav .bottom .left {
    width: 100%;
  }
}
.under_nav .bottom .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: contrast(95%) brightness(85%) grayscale(100);
}
.under_nav .bottom .left .filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #346856;
  mix-blend-mode: overlay;
  transition: all 0.5s;
}
.under_nav .bottom .left:hover .filter {
  opacity: 0;
}
.under_nav .bottom .left:hover img {
  filter: contrast(95%) brightness(85%) grayscale(0);
}
.under_nav .bottom .right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .under_nav .bottom .right {
    width: 100%;
  }
}
.under_nav .bottom .right p {
  width: 50%;
  font-family: "Montreal Medium";
  font-size: 16px;
  font-weight: 500;
  color: #E0F8D0;
  text-transform: uppercase;
  margin-top: 126px;
  margin-bottom: 126px;
  position: relative;
  padding-left: 24px;
}
@media screen and (max-width: 768px) {
  .under_nav .bottom .right p {
    width: 100%;
    font-size: 12px;
    margin-bottom: 0;
  }
}
.under_nav .bottom .right p::after {
  content: "";
  position: absolute;
  top: 2.5%;
  left: 0;
  height: 95%;
  width: 8px;
  background-color: #88C070;
}

footer {
  border-top: 1px #E0F8D0 solid;
}/*# sourceMappingURL=project_page.css.map */